body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: purple;
}

.form-container {
  width: 500px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.park-type {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.park-name-display {
  font-size: 20px;
  font-weight: bold;
  color: purple;
}

.park-address-display {
  color: purple
}

.park-link {
  text-decoration: none;
}

.park-page {
  position: relative;
  text-align: left;
}

.park-page h1 {
  margin-bottom: 5px;
}

.park-page header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.page-data {
  display: flex;
  flex-direction: row;
}

.page-data-label {
  margin-right: 20px;
  color: purple;
  font-weight: bold;
}